In [1]:
import pymongo

### insert one

In [2]:
mongo_client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
my_mongo = mongo_client.client['employee']

In [25]:
data ={'firstname':'deepak',
    'lastname':'gupta',
    'age':29,
    'location':'buxar'}

In [26]:
my_mongo.insert_one(data)

### insert many

In [3]:
mongo_client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')
my_mongo = mongo_client.client['details']

In [4]:
dataa =[
    {'firstname':'deepak',
    'lastname':'gupta',
    'age':29,
    'location':'buxar'},
    
    {'firstname':'rajesh',
    'lastname':'gupta',
    'age':26,
    'rollno':'reotipur'},
    
    {'firstname':'pankaj',
    'lastname':'kumar',
    'age':32,
    'location':'patna'},
    
    {'firstname':'manish',
    'lastname':'chand',
    'age':15,
    'location':'tilwa'}
    ]

In [5]:
my_mongo.insert_many(dataa)

In [30]:
my_mongo.index_information

In [32]:
my_mongo.find_one()

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'),
 'firstname': 'deepak',
 'lastname': 'gupta',
 'age': 29,
 'location': 'buxar'}

In [33]:
for each in my_mongo.find():
    print(each)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'), 'firstname': 'deepak', 'lastname': 'gupta', 'age': 29, 'location': 'buxar'}
{'_id': ObjectId('5f43350b7e27b5d6e5c02a34'), 'firstname': 'rajesh', 'lastname': 'gupta', 'age': 26, 'rollno': 'reotipur'}
{'_id': ObjectId('5f43350b7e27b5d6e5c02a35'), 'firstname': 'pankaj', 'lastname': 'kumar', 'age': 32, 'location': 'patna'}
{'_id': ObjectId('5f43350b7e27b5d6e5c02a36'), 'firstname': 'manish', 'lastname': 'chand', 'age': 15, 'location': 'tilwa'}

In [34]:
my_mongo.find({'firstname': 'deepak'})

In [35]:
for mm in my_mongo.find({'firstname': 'deepak'}):
    print(mm)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'), 'firstname': 'deepak', 'lastname': 'gupta', 'age': 29, 'location': 'buxar'}

In [36]:

for mm in my_mongo.find({'firstname': 'pankaj'}):
    print(mm)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a35'), 'firstname': 'pankaj', 'lastname': 'kumar', 'age': 32, 'location': 'patna'}

# $ lt

In [37]:
for mm in my_mongo.find({'firstname': {'$in':['deepak','pankaj']}}):
    print(mm)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'), 'firstname': 'deepak', 'lastname': 'gupta', 'age': 29, 'location': 'buxar'}
{'_id': ObjectId('5f43350b7e27b5d6e5c02a35'), 'firstname': 'pankaj', 'lastname': 'kumar', 'age': 32, 'location': 'patna'}

In [38]:
for mm in my_mongo.find({'firstname': 'deepak','age':{'$lt':35}}):
    print(mm)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'), 'firstname': 'deepak', 'lastname': 'gupta', 'age': 29, 'location': 'buxar'}

In [39]:
for mm in my_mongo.find({'firstname': 'deepak','age':{'$lt':25}}):
    print(mm)

# $ gt

In [40]:
for mm in my_mongo.find({'firstname': 'deepak','age':{'$gt':25}}):
    print(mm)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'), 'firstname': 'deepak', 'lastname': 'gupta', 'age': 29, 'location': 'buxar'}

In [41]:
for mm in my_mongo.find({'firstname': 'deepak','age':{'$gt':35}}):
    print(mm)

# $or

In [10]:
for mm in my_mongo.find({'$or':[{'firstname': 'deepak'},{'age':15}]}):
    print(mm)

{'_id': ObjectId('5f43350b7e27b5d6e5c02a33'), 'firstname': 'deepak', 'lastname': 'gupta', 'age': 29, 'location': 'buxar'}
{'_id': ObjectId('5f43350b7e27b5d6e5c02a36'), 'firstname': 'manish', 'lastname': 'chand', 'age': 15, 'location': 'tilwa'}

# $ and